<ion-header>
  <ion-toolbar>
    <ion-title>Editar ponto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #clienteForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select placeholder="Selecione o usuário (temporário)" [(ngModel)]="pontodescarte.usuarioId" name="usuario">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
          {{usuario.nome}}
        </ion-select-option>
      </ion-select>     
    </ion-item>

    <ion-item>
      <ion-select placeholder="Selecione a cidade" [(ngModel)]="pontodescarte.cidadeId" name="cidade">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">
          {{cidade.nome}}
        </ion-select-option>
      </ion-select>     
    </ion-item>

    <ion-item>
      <ion-label>ATIVO</ion-label>
      <ion-toggle slot="start" name="status" color="success" [(ngModel)]="pontodescarte.status" checked></ion-toggle>
    </ion-item>
  </form>

  <ion-button [routerLink]="['/editar-pontodescarte', pontodescarte.id]">Lixos cadastrados nesse local</ion-button>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="salvar()" [disabled]="clienteForm.invalid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>