<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar ponto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #clienteForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone">
      </ion-input>
    </ion-item>
  </form>

  <div #map id="map" style="margin: 20px"></div>

  <ion-button expand="block" (click)="salvar()" [disabled]="clienteForm.invalid" color="success">Cadastrar ponto
  </ion-button>
</ion-content>