<ion-header>
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">    
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>CADASTRAR PONTO</h3>
  <form #pontodescarteForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" #campoNome="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
        <small>
          <span *ngIf="campoNome.errors.required">
            O campo nome é obrigatório
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone" required #campoFone="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoFone.invalid && (campoFone.dirty || campoFone.touched)">
        <small>
          <span *ngIf="campoFone.errors.required">
            O campo fone é obrigatório
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Selecione a cidade" [(ngModel)]="pontodescarte.cidadeId" name="cidade">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">
          {{cidade.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <div #map id="map" style="margin: 20px"></div>

  <ion-button expand="block" (click)="salvar()" [disabled]="pontodescarteForm.invalid" color="success">Salvar
  </ion-button>
</ion-content>