<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>PERFIL</h3>
  <form #perfilForm="ngForm" novalidate>
    <!-- <div class="container">
      <img id="foto-perfil" src="{{imgURL}}">
      <ion-button (click)="getCamera()" >Camera</ion-button> 
    </div>

    <div class="btn-carregar">
      <ion-button fill="clear" (click)="getGaleria()">Carregar</ion-button>
    </div> -->
    
    <div class="context">
      <ion-label>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="usuario.nome" required
        pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" #campoNome="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
        <small>
          <span *ngIf="campoNome.errors.required">
            O campo nome é obrigatório
          </span>
          <span *ngIf="campoNome.errors.pattern">
            O campo deve ter apenas letras
          </span>
        </small>
      </ion-text>

      <ion-label>E-mail</ion-label>
      <ion-input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        [(ngModel)]="usuario.email" required #campoEmail="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoEmail.invalid && (campoEmail.dirty || campoEmail.touched)">
        <small>
          <span *ngIf="campoEmail.errors.required">
            O campo email é obrigatório
          </span>
          <span *ngIf="campoEmail.errors.pattern">
            O email é inválido
          </span>
        </small>
      </ion-text>

      <ion-label>Senha</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="usuario.senha" required minlength="8" #campoSenha="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoSenha.invalid && (campoSenha.dirty || campoSenha.touched)">
        <small>
          <span *ngIf="campoSenha.errors.required">
            O campo senha é obrigatório
          </span>
          <span *ngIf="campoSenha.errors.minlength">
            O campo senha deve ter no mínimo 8 caracteres
          </span>
        </small>
      </ion-text>     
      
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <div class="pontuacao">
              <p>Pontos</p>
              <p style="font-size: 70px; font-weight: normal; color: #8baa6e;">50</p>
              <p>Nvl: 0</p>
            </div>
          </ion-col>
        </ion-row> 
      </ion-grid>
      </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button fill="clear" expand="full" style="margin-bottom: 6px" [disabled]="perfilForm.invalid" (click)="salvar()">Salvar</ion-button>
    <ion-button fill="clear" expand="block" (click)="logOut()">Sair</ion-button>
</ion-footer>
