ion-input{
    border: 2px solid #8baa6e;
    background-color: white;
    border-radius: 15px;
    font-size: medium;
    color: #696969;
    font-weight: bolder;
    display: flex;
}
img#foto-perfil{
    height:120px;
    width:120px; 
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.btn-carregar{
    margin: 0;
    position: absolute;  
    left: 50%;
    -ms-transform: translate(-30%, -50%);
    transform: translate(-50%, -50%);
}