img#foto-perfil{
    height:120px;
    width:120px; 
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn-carregar{
    margin: 0;
    position: absolute;  
    left: 50%;
    -ms-transform: translate(-30%, -50%);
    transform: translate(-50%, -50%);
}

ion-grid {
    margin-top: 10px
}

.pontuacao p {
    margin: 0!important;
    text-align: center;
    color: #696969;
    font-weight: bold;
}

.ranking span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
    color: #696969!important;    
}

.ranking ion-icon {
    color: #8baa6e;
    font-size: 25px;
}