<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-item>
      <ion-input type="text" placeholder="Nome completo" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="email" placeholder="E-mail" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Senha" ></ion-input>
    </ion-item>

    <ion-button class="button-container" expand="full" color="success">Editar</ion-button>

    <ion-button class="button-container" expand="full" color="success">Salvar</ion-button>  

    <ion-button expand="block" (click)="logOut()" color="success">Sair
    </ion-button>
  </div>
</ion-content>