<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">       
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>RANKING</h3>
  <ion-list>
    <ion-item *ngFor="let rankingpontuacao of rankingpontuacoes; let i = index">   
      <div class="information">
          <span>{{i+1}}º</span>
          <span> {{rankingpontuacao.usuario.nome}}</span>
      </div>
      <div class="pts">
          <span>{{rankingpontuacao.pontuacao}}pts</span>
      </div>
    </ion-item>
  </ion-list>  
</ion-content>
