<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/editar-pontodescarte"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <h3>{{pontodescarteNome}}</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input class="filtroCliente" type="text" placeholder="Buscar descartante" name="nome" [(ngModel)]="usuarioNome"></ion-input>
      </ion-col>
      
      <ion-col size="2">
        <button class="btn-search" fill="clear" (click)="buscarClienteFiltro()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-list class="pontodescarteitem">
    <ion-item *ngFor="let pontodescarteitem of pontodescarteitens">
      <ion-label>
        <span>{{pontodescarteitem.item.nome}}</span>
        <p>Qtde.: {{pontodescarteitem.quant}}</p>
        <p>Descartante: {{pontodescarteitem.usuario.nome}}</p>
      </ion-label>
      
      <ion-icon *ngIf="pontodescarteitem.status === 0" name="eye" slot="end" [routerLink]="['/aprovar-pontodescarte-item/aprovar', pontodescarteitem.id, pontodescarteId]"></ion-icon>
      <ion-icon *ngIf="pontodescarteitem.status === 1" color="success" name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon *ngIf="pontodescarteitem.status === 2" color="danger" name="close-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>