<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar ponto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #clienteForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome">
      </ion-input>   
    </ion-item>      

    <ion-item>
      <ion-input type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone">
      </ion-input>    
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Latitude" name="latitude" [(ngModel)]="pontodescarte.latitude">
      </ion-input>    
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Longitude" name="fone" [(ngModel)]="pontodescarte.longitude">
      </ion-input>    
    </ion-item>

    <div #map id="map"></div>
  </form>

  <ion-button expand="block" (click)="salvar()" [disabled]="clienteForm.invalid" color="danger">Cadastrar ponto</ion-button>  
</ion-content>
