<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>SOBRE</h3>
  <div class="context">
    <p style="text-align: justify; color: #696969;">Este protótipo de aplicativo móvel foi criado para auxiliar a população a jogar seu lixo eletrônico de forma
      correta nos pontos destinados. O mesmo tem como objetivo localizar pontos de descarte próximos ao local do usuário
      e assim facilitar essa prática.</p>
  </div>

  <img src="../../assets/img/sobre.png" class="background" alt="" style="padding: 0px; position: absolute; bottom: 0px">
</ion-content>