<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">       
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>SOBRE</h3>
  <div class="ion-padding">
    <p>Este protótipo de aplicativo móvel foi criado com o intuito de facilitar para que as pessaos encontrem locais de descarte de lixo eletrônico próximos de si.</p>
  </div>
  
  <ion-footer class="ion-no-border">
    <img src="../../assets/img/sobre.png" class="background" alt="">   
  </ion-footer>
</ion-content>
