<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/listar-pontodescarte-item"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>CADASTRAR LIXO ELETRÔNICO</h3>
  <form #cadastrarlixoForm="ngForm" novalidate>
    <div class="context">
      <ion-item>
        <ion-select placeholder="Selecione o item" [(ngModel)]="pontodescarteitem.itemId" name="item">
          <ion-select-option *ngFor="let item of itens" [value]="item.id">
            {{item.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label>Quantidade:</ion-label>
      <ion-input type="text" name="quant" [(ngModel)]="pontodescarteitem.quant"></ion-input>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" fill="clear" (click)="salvar()" [disabled]="cadastrarlixoForm.invalid">Salvar</ion-button>
</ion-footer>