<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar lixo eletrônico</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #itemForm="ngForm" novalidate>
    <ion-item>
      <ion-select placeholder="Selecione o item" [(ngModel)]="pontodescarteitem.itemId" name="item">
        <ion-select-option *ngFor="let item of itens" [value]="item.id">
          {{item.nome}}
        </ion-select-option>
      </ion-select>     
    </ion-item>
    
    <ion-item>
      <ion-input type="text" placeholder="Quantidade" name="quant" [(ngModel)]="pontodescarteitem.quant">
      </ion-input>
    </ion-item>
  </form>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="salvar()" [disabled]="itemForm.invalid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
