<ion-header>
  <ion-toolbar>
    <ion-title>Realizar login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="usuario.email" required #campoEmail="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoEmail.invalid && (campoEmail.dirty || campoEmail.touched)">
        <small>
          <span *ngIf="campoEmail.errors.required">
            O campo email é obrigatório
          </span>
        </small>
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-input type="password" placeholder="Senha" name="senha" [(ngModel)]="usuario.senha" required minlength="8" #campoSenha="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoSenha.invalid && (campoSenha.dirty || campoSenha.touched)">
        <small>
          <span *ngIf="campoSenha.errors.required">
            O campo senha é obrigatório
          </span>
          <span *ngIf="campoNome.errors.minlength">
            O campo senha deve ter no mínimo 8 caracteres
          </span>
        </small>
      </ion-text>
    </ion-item>
  </form>  
  
    <ion-button expand="block" (click)="entrar()" [disabled]="loginForm.invalid" color="success">Entrar</ion-button>

    <br>
    <ion-label>
      <p class="center">Não possui cadastro?</p>
    </ion-label>
 
    <ion-button [routerLink]="['/criar-conta']" class="button-container" expand="full" color="success">Criar conta</ion-button>     
</ion-content>
