<ion-header>
  <ion-toolbar>
    <ion-title>Realizar login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-item>
      <ion-input type="text" placeholder="E-mail" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="password" placeholder="Senha" ></ion-input>
    </ion-item>

    <a href="../home">
      <ion-button class="button-container" expand="full">Entrar</ion-button>
    </a>

    <br>
    <ion-label>
      <p class="center">Não possui cadastro?</p>
    </ion-label>
  
    <a href="../criar-conta">
      <ion-button class="button-container" expand="full">Criar conta</ion-button>  
    </a>
  </div>
</ion-content>
