<ion-header>
  <ion-toolbar color="success">
    <ion-title>Meus pontos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pontodescarte of pontosdescarte">
      <span>{{pontodescarte.nome}}</span>
      <ion-icon color="success" name="create" slot="end" [routerLink]="['/listar-pontodescarte', pontodescarte.id]"></ion-icon>
      <ion-icon color="success" name="close-circle" slot="end" (click)="confirmarExclusao(pontodescarte)"></ion-icon>
    </ion-item>
  </ion-list>  
</ion-content>
