ion-input{
    border: 2px solid #8baa6e;
    background-color: white;
    border-radius: 15px;
    font-size: medium;
    color: #696969;
    font-weight: bolder;
    display: flex;
   // margin-top: 5%;

}
ion-label{
    padding-left: 10px;
    padding-top: 5%;
    color: #696969;
    font-size: small;
    font-weight: bolder;
    display: block;    
}

ion-title{
    padding-top: 2%;
    display: block;
    
}

ion-button{
    border-radius: 15px;
   // border: 2px solid #00D9D0;    
    font-weight: bold;
    font-size: medium;
    background-color: #8baa6e;
    color: white;
    opacity: 100%;      

}
.tipoUsuario{
    text-align: center !important;
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #696969;
    margin-top: 0%;
}

.cabecalho{
    background-image: url("../../assets/img/cabecalho.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.btn-voltar{
    margin-top: 12%;
}

/*


    content 
    margin-top: -7%;
*/