<ion-header>
  <ion-toolbar>
  <ion-title>
    Crie sua conta
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <form #criarContaForm="ngForm" novalidate>
    <div class="content">
      <div class="ion-padding">
      <div>
      <ion-label>Nome Completo:</ion-label>
      <ion-input type="text" expand="block" name="nome" [(ngModel)]="usuario.nome" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" #campoNome="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
        <small>
          <span *ngIf="campoNome.errors.required">
            O campo nome é obrigatório
          </span>
          <span *ngIf="campoNome.errors.pattern">
            O campo deve ter apenas letras
          </span>
        </small>
      </ion-text>   
      </div>
      <ion-label>E-mail:</ion-label>
      <ion-input type="text"  name="email" [(ngModel)]="usuario.email"  required   #campoEmail="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoEmail.invalid && (campoEmail.dirty || campoEmail.touched)">
        <small>
          <span *ngIf="campoEmail.errors.required">
            O campo email é obrigatório
          </span>
        </small>
      </ion-text>   
      <ion-label>Senha:</ion-label>
      <ion-input type="password"  name="senha" [(ngModel)]="usuario.senha" required minlength="8" #campoSenha="ngModel"></ion-input>
      <ion-text color="danger" *ngIf="campoSenha.invalid && (campoSenha.dirty || campoSenha.touched)">
        <small>
          <span *ngIf="campoSenha.errors.required">
            O campo senha é obrigatório
          </span>
          <span *ngIf="campoNome.errors.minlength">
            O campo senh deve ter no mínimo 8 caracteres
          </span>
        </small>
      </ion-text>
    </div>
    </div>
  </form>   
  <div class="ion-padding"> 
  <ion-button class="button-container"expand="block" fill="clear" (click)="salvar()" [disabled]="criarContaForm.invalid">Salvar</ion-button>
</div>
</ion-content>
