<ion-header class="ion-no-border">
    <ion-toolbar>
        <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
        <ion-buttons slot="start" style="position: absolute;">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>CRIE SUA CONTA</h3>
    <form #criarcontaForm="ngForm" novalidate>
        <div class="context">
            <ion-label>Nome Completo</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="usuario.nome" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" #campoNome="ngModel"></ion-input>
            <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
                <small>
                    <span *ngIf="campoNome.errors.required">
                        O campo nome é obrigatório
                    </span>
                    <span *ngIf="campoNome.errors.pattern">
                        O campo deve ter apenas letras
                    </span>
                </small>
            </ion-text>

            <ion-label>E-mail</ion-label>
            <ion-input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="usuario.email" required #campoEmail="ngModel"></ion-input>
            <ion-text color="danger" *ngIf="campoEmail.invalid && (campoEmail.dirty || campoEmail.touched)">
                <small>
                    <span *ngIf="campoEmail.errors.required">
                        O campo email é obrigatório
                    </span>
                    <span *ngIf="campoEmail.errors.pattern">
                        O email é inválido
                    </span>
                </small>
            </ion-text>

            <ion-label>Senha</ion-label>
            <ion-input type="password" name="senha" [(ngModel)]="usuario.senha" required minlength="8" #campoSenha="ngModel"> </ion-input>
            <ion-text color="danger" *ngIf="campoSenha.invalid && (campoSenha.dirty || campoSenha.touched)">
                <small>
                    <span *ngIf="campoSenha.errors.required">
                        O campo senha é obrigatório
                    </span>
                    <span *ngIf="campoSenha.errors.minlength">
                        O campo senha deve ter no mínimo 8 caracteres
                    </span>
                </small>
            </ion-text>

            <ion-label>Confirmar senha</ion-label>
            <ion-input type="password" name="confirmSenha" [(ngModel)]="confirmSenha" required minlength="8" #campoConfirmSenha="ngModel"> </ion-input>
            <ion-text color="danger" *ngIf="campoConfirmSenha.invalid && (campoConfirmSenha.dirty || campoConfirmSenha.touched)">
                <small>
                    <span *ngIf="campoConfirmSenha.errors.required">
                        O campo senha é obrigatório
                    </span>
                    <span *ngIf="campoConfirmSenha.errors.minlength">
                        O campo senha deve ter no mínimo 8 caracteres
                    </span>
                </small>
            </ion-text>

            <ion-label>Fone</ion-label>
            <input type="text" name="fone" mask="(00) 0000-0000||(00) 00000-0000" [dropSpecialCharacters]="false" [(ngModel)]="usuario.fone" required #campoFone="ngModel">
            <ion-text color="danger" *ngIf="campoFone.invalid && (campoFone.dirty || campoFone.touched)">
                <small>
                    <span *ngIf="campoFone.errors.required">
                        O campo fone é obrigatório
                    </span>
                </small>
            </ion-text>

            <ion-grid>
                <div class="tipoUsuario">
                    <ion-row>
                        <ion-col>
                            <ion-img alt="catador" src="../../../../../assets/icon/Catador.png"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-img alt="descartante" src="../../../../../assets/icon/Descartante.png"></ion-img>
                        </ion-col>
                    </ion-row>
                    <ion-radio-group [(ngModel)]="usuario.tipo" name="tipo">
                        <ion-row>
                            <ion-col>
                                <ion-radio value="CATADOR"></ion-radio>
                            </ion-col>
                            <ion-col>
                                <ion-radio id="descarte" value="DESCARTANTE"></ion-radio>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </div>
            </ion-grid>
        </div>
    </form>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button expand="block" fill="clear" (click)="salvar()" [disabled]="criarcontaForm.invalid">Salvar</ion-button>
</ion-footer>