<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="displayMenu">
      <img src="../assets/img/cabecalho.png"  alt="logo">
      <ion-content>
        <ion-list id="inbox-list">                    
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 1" [class.selected]="selectedIndex == 1" routerLink="/home" lines="none" detail="false" routerDirection="root">
              <ion-icon color="success" name="home" slot="start"></ion-icon>
              <ion-label>Início</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="isAdmin" (click)="selectedIndex = 6" [class.selected]="selectedIndex == 6" routerLink="/aprovar-pontodescarte" lines="none" detail="false" routerDirection="root">
              <ion-icon name="location" slot="start"></ion-icon>
              <ion-label>Liberar pontos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!isAdmin" (click)="selectedIndex = 2" [class.selected]="selectedIndex == 2" routerLink="/cadastrar-pontodescarte" lines="none" detail="false" routerDirection="root">
              <ion-icon name="location" slot="start"></ion-icon>
              <ion-label>Cadastrar ponto</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!isAdmin" (click)="selectedIndex = 3" [class.selected]="selectedIndex == 3" routerLink="/listar-pontodescarte" lines="none" detail="false" routerDirection="root">
              <ion-icon name="location" slot="start"></ion-icon>
              <ion-label>Meus pontos cadastrados</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 4" [class.selected]="selectedIndex == 4" routerLink="/perfil" lines="none" detail="false" routerDirection="root">
              <ion-icon color="success" name="person" slot="start"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!isAdmin" lines="none" detail="false" href="mailto:edescarteoficial@gmail.com">
              <ion-icon name="megaphone" slot="start"></ion-icon>
              <ion-label>Fale conosco</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!isAdmin" (click)="selectedIndex = 5" [class.selected]="selectedIndex == 5" routerLink="/sobre" lines="none" detail="false" routerDirection="root">
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>
          </ion-menu-toggle>         
        </ion-list>       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>