<ion-header>
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>PONTO DE DESCARTE</h3>
  <form #clienteForm="ngForm" novalidate>
    <ion-item>
      <ion-input disabled="true" type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input disabled="true" type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone">
      </ion-input>
    </ion-item>      

    <ion-item>
      <ion-select disabled="true" placeholder="Selecione a cidade" [(ngModel)]="pontodescarte.cidadeId" name="cidade">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">
          {{cidade.nome}}
        </ion-select-option>
      </ion-select>     
    </ion-item>
  </form>

  <ion-button (click)="navigate()">Ir até o local</ion-button>
  <ion-button [routerLink]="['/info-pontodescarte', pontodescarte.id]" *ngIf="!isCatador && pontodescarte.tipo===0">Descartar meu lixo eletrônico aqui</ion-button>
</ion-content>