<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>{{pontodescarte.nome}}</h3>

  <form #clienteForm="ngForm" novalidate>
    <div class="context">
      <!-- <ion-label>Nome</ion-label>
      <ion-input disabled="true" type="text" name="nome" [(ngModel)]="pontodescarte.nome"> </ion-input> -->

      <ion-label>Fone</ion-label>
      <ion-input disabled="true" type="text" name="fone" [(ngModel)]="pontodescarte.fone"> </ion-input>

      <ion-item>
        <ion-select disabled="true" placeholder="Selecione a cidade" [(ngModel)]="pontodescarte.cidadeId" name="cidade">
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">
            {{cidade.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>

  <ion-footer class="ion-no-border">
    <ion-button expand="block" fill="clear" (click)="navigate()">Ir até o local</ion-button>
    <ion-button expand="block" fill="clear" [routerLink]="['/info-pontodescarte', pontodescarte.id]" *ngIf="!isCatador && !isAdmin && pontodescarte.tipo===0" style="font-size: 15px">Descartar meu lixo eletrônico</ion-button>
  </ion-footer>
</ion-content>