<ion-header>
  <ion-toolbar>
    <img src="../../../../../assets/img/cabecalho.png" class="background" alt="">       
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>FALE CONOSCO</h3>
  <ion-item>
    <ion-textarea placeholder="Escreva aqui..."></ion-textarea>
  </ion-item>

  <ion-button class="button-container" expand="full" color="success">Enviar</ion-button>
</ion-content>
