<ion-header>
  <ion-toolbar>
    <ion-title>Ponto de descarte item</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pontodescarteitem of pontodescarteitens">
      <div></div>
      <span>{{pontodescarteitem.item.nome}}</span>
      <ion-icon color="success" name="create" slot="end" [routerLink]="['/listar-pontodescarte-item/editar', pontodescarteitem.id, pontodescarteId]"></ion-icon>
      <ion-icon color="success" name="close-circle" slot="end" (click)="confirmarExclusao(pontodescarteitem)"></ion-icon>
    </ion-item>
  </ion-list>  

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" [routerLink]="['/listar-pontodescarte-item/cadastro', pontodescarteId]">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>