/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #696969;
    margin-top: 0%;
}

ion-select {
    color: #696969
}

ion-menu-button {
    color: #bfd25e
}

ion-back-button {
    color: #bfd25e
}

ion-input{
    border: 2px solid #8baa6e;
    background-color: white;
    border-radius: 13px;
    font-size: medium;
    color: #696969!important;
    font-weight: bolder;
    display: flex;
}

ion-label{
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    color: #696969!important;
    font-size: small;
    font-weight: bolder;
    display: block;    
}

ion-button{
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    background-color: #8baa6e;
    color: white;
}

ion-header, ion-footer, ion-content {
    background-color: #fff;
}

ion-content ion-item ion-icon{
    color: #8baa6e
}

ion-content .context {
    padding: 0 16px 10px 16px;
}

ion-footer {
    padding: 0 16px 0 16px;
}

ion-content ion-list ion-item p {
    color: #8a8a8a!important;
}