<ion-header>
  <ion-toolbar>
    <ion-title>Ponto de descarte</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #clienteForm="ngForm" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="pontodescarte.nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Fone" name="fone" [(ngModel)]="pontodescarte.fone">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select placeholder="Selecione o usuário (temporário)" [(ngModel)]="usuarioId" name="usuario">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
          {{usuario.nome}}
        </ion-select-option>
      </ion-select>     
    </ion-item>
  </form>

  <ion-button (click)="navigate()">Ir até o local</ion-button>
  <ion-button [routerLink]="['/ponto-descarte', pontodescarte.id, usuarioId]">Descartar meu lixo eletrônico aqui</ion-button>
</ion-content>