#map {
    height: 100%;
}

.ion-fab {
    margin-left: 5px;
}

@media screen and (min-width: 992px) {
    .ion-fab {
        display: none;
    }
}

.menu-button {
    width: 100%;
    height: 100%;
}

