#map {
    height: 100%;
}

.ion-fab {
    margin-left: 5px;
}

@media screen and (min-width: 992px) {
    .ion-fab {
        display: none;
    }
}

.menu-button {
    width: 100%;
    height: 100%;
}

#information {
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    background-color: #8baa6e;
    color: white;
}

